<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Capgemini.Xrm.DataMigration.Engine" version="2.5.0.2" targetFramework="net462" />
  <package id="CsvHelper" version="6.1.0" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.9" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.9" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.9" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.2.12" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Polly" version="5.8.0" targetFramework="net462" />
</packages>